div.card {
    width: 120px;
    height: 120px;
      /* background-size: 110px 140px;   */
    /* background-color:white;  */
    /* border-radius: 10px;  */
    /* border-right: 2px black solid;
    border-bottom: 2px black solid; */
    /* padding: 40px 40px 40px 40px; */
     /* display: flex;
    justify-content: center;
    align-items: center;   */
  }
  
  #board {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 450px;
    min-height:min-content;
    margin-top:50px;
     display: flex;
    justify-content: center; 
     align-items: center; 
    background-color:blanchedalmond;
    border: 5px royalblue solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    perspective: 1000px;
    
  }
  body{
    display: flex;
  justify-content: center;
  align-items: center;
  }

  div.horizontal-Line{
    border-bottom: 2.4px solid black;

  }
  
  div.vertical-Line{
    border-right: 2.4px solid black;
  }