div.cards {
  width: 140px;
  height: 140px;
    background-size: 110px 140px;   
  background-color:white;
   padding: 40px 40px 40px 40px; 
    display: flex;
  justify-content: center;
  align-items: center;  
}
  .cards:hover{
    cursor: pointer;
  }
    .Xcard{  
      background-image:  url('./images/XX.png');
    background-repeat: no-repeat;
    background-position:center;  
    
  }
  
  .Ocard{
    background-image: url('./images/ooo.png');
    background-repeat: no-repeat;
    background-position:center;

  }

  #board {
    padding-top: 40px;
    padding-bottom: 40px;
    width: 450px;
    min-height:min-content;
    margin-top:50px;
     display: flex;
    justify-content: center; 
     align-items: center; 
    background-color:white;
    border: 5px royalblue solid;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    perspective: 1000px;
    
  }
  /* body{
    display: flex;
  justify-content: center;
  align-items: center;
  } */

  div.cards.horizontal-Line{
    border-bottom: 2.4px solid black;

  }
  
  div.cards.vertical-Line{
    border-right: 2.4px solid black;
  }

nav{
  min-height: 40px;
  background: rgb(94, 15, 221);
  color: azure;
}
nav .div_inside a{
  color: white;
  text-decoration: none;
  padding: 0 12px;
}

#player active{
  font-weight: bold;
  font-family: 'Lakki Reddy', cursive;
}

#player nonActive{
  font-weight: bold;
}

[name="player"]{
  width: 80px;
  height: 80px;
  border-radius: 15px;
}

input{
  font-size: 12px;
  border-color: lightgrey;
}

.activePlayer{
  border: plum solid 8px;
}